body {
  color: $text-color-default;
  font-size: 15px;
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none;
  color: $text-color-default;
}

%btn {
  text-transform: uppercase;
  padding: 0.8em;
  border-radius: 5px;
  font-weight: 500;
}

.btn-big {
  padding: 1em 2em;
}

.btn-primary {
  @extend %btn;
  @include brand_colors;
}

.container {
  width: 90vw;
}

/* responsiveness */
.hidden-mobile {
  display: none;
}

.hidden-desktop {
  display: block;
}