$brand-color: #611f69;
$links-color: #1264a3;
$text-on-brand-color: #fff;
$text-color-default: #000;

/*responsiveness*/
$break-small: 520px;
$break-tablet: 768px;
$break-desktop: 1024px;
$break-large: 1400;